body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  background-image: url("../../Imagenes/F1.jpg");
/* Background image is centered vertically and horizontally at all times */
background-position: center center;
/* Background image doesn’t tile */
background-repeat: no-repeat;
/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;
/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
/* Set a background color that will be displayed
while the background image is loading */
background-color: #464646;
}

table {
  background-color: rgba(235, 221, 212, 0.8);
  border-radius: 5px;
}

#pista {
  background-color: rgba(235, 221, 212, 0.8);
  border-radius: 10px;
}

#pista_nueva {
  background-color: rgba(66, 46, 33, 0.8);
  border-radius: 10px;
  color:antiquewhite;
  padding: 10px;
}

.divs{
  margin-bottom: 20px;
}